:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff; 
  color: #000000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    border-color: #0d6efd !important;
}

.icon-hover {
    transition: transform 0.3s ease, color 0.3s;
}
.icon-hover:hover {
    transform: rotate(90deg);
    color: #0d6efd !important;
}